body {
    /* The background color of the entire browser window */
    background-image: url("background_hq.png");
    background-size: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: sans-serif;
    line-height: 1.6;
    color: #dddddd;
}

.container {
    width: 975px;
    margin: 80px auto;
    background-color: #504b57;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

/* .head_logo {
    margin-top: -100px;
    margin-bottom: 20px;
} */

#soundtrack_link {
    right: 10px;
    position: absolute;
    z-index: 1;
}

.head_logo_container {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 100%;
    text-align: center;
}

header {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
    padding-bottom: 10px;

    position: relative
}

.testimonials {
    background-color: #928697;
    width: 100%;
    position: relative;
}

blockquote {

    font-style: italic;
}

.quote {
    display: inline-block;
    margin: 0 auto;
    font-family: Georgia, serif;
    font-size: x-large;
}

blockquote p::before {
    content: "\201C";
}

blockquote p::after {
    content: "\201D";
}

.quoteBlock {
    display: none;
    height: 200px;
    align-items: center;
}

a:link {
    color: #a991ca;
}

a:visited {
    color: #96b3d8
}

a:focus,
a:hover {
    color: #ceafd4
}

a:active {
    color: #8ebfdb
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

h1 {
    margin: 0 0 10px 0;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #acacac;
}

.blog-post {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.blog-post h2 {
    margin-top: 0;
}

.meta {
    font-size: 0.9em;
    color: #aaaaaa;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #777777;
    padding-top: 20px;
    border-top: 1px solid #eee;
}