* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans';
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #2d2d2d;
    overflow: hidden;
}

.nodeEditorWrapper {
    background-image: radial-gradient(rgb(25, 25, 25) 0 15%, rgb(50, 50, 50) 15% 100%);
    background-size: 10px 10px;
    background-repeat: repeat;
    overflow: hidden;
}

.node {
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 5px 2px black;
    min-width: 100px;
    min-height: 25px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
    position: absolute;
    transform: translate(0px, 0px);
    background-color: #505050;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.node_header {
    width: 100%;
    border-radius: 5px 5px 0 0;
    height: 25px;
    background-color: #000000;
    cursor: grab;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodeText {
    font-size: 15px;
    text-align: left;
    display: inline;
    margin: 5px;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.node_string {
    display: inline;
    background-color: #1b1b1b;
    border: 1px solid #555555;
    border-radius: 3px;
    margin: 5px;
    color: #c0c0c0;
}

.nodeInputField_number {
    background-color: #757575;
    border-style: none solid solid none;
    border-width: 1px;
    border-color: #454545;
    border-radius: 3px;
    text-align: center;
    color: #c0c0c0
}

.nodeInputField_number_container {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    height: 50%;
    margin: 5px;
}

.node_title {
    font-size: 90%;
    color: white;
    user-select: none;
    text-align: center;
}

.nodeElement {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

.nodeCollectionElement {
    padding: 10px 0px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.stepup,
.stepdown {
    display: flex;
    height: 100%;
    width: 20px;
    position: absolute;
    background-color: transparent;
    cursor: default;
    border-style: none solid solid none;
    border-width: 1px;
    border-color: #454545;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.stepup:hover,
.stepdown:hover {
    background-color: #656565;
}

.stepup {
    align-self: end;
    border-radius: 0px 3px 3px 0px;
}

.stepdown {
    align-self: start;
    border-radius: 3px 0px 0px 3px;
    border-style: none none solid none;
}

.stepup_triangle {
    margin: auto;
    border-left: 9px solid #c0c0c0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.stepdown_triangle {
    margin: auto;
    border-right: 9px solid #c0c0c0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
}

.nodeSocket_output {
    left: 5px;
}

.nodeSocket_input {
    right: 5px;
}

.nodeSocket {
    width: 10px;
    height: 10px;
    display: block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    /* border-radius: 50%;
    border: 1px solid black;
    background-color: black; */
}

.nodeSocket::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
}

.nodeConnector {
    stroke: #8f8f8f;
    stroke-width: 3;
}

.nodeConnectorPreview {
    stroke: #e4e4e4;
    stroke-width: 4;
}

.contextMenu {
    position: absolute;
    width: 220px;
    height: fit-content;
    background-color: #181818;
    border: 2px solid #232323;
    border-radius: 4px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.contextMenuEntry {
    display: flex;
    flex-direction: row;
    height: 15px;
    padding: 7px 0 7px 0;
    align-items: center;
    border-radius: 3px;
}

.contextMenuLabel {
    color: #787878;
}

.contextMenuText {
    color: #dfdfdf;
    margin-left: 20px;
}

.contextMenuBreak {
    width: 100%;
    height: 1px;
    margin: 3px 0 3px 0;
    background-color: #2f2f2f;
}

.contextMenuInteractable:hover {
    background-color: #3f3f3f;
}

.contextMenuEntryExpanded::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
}

.area {
    border: 10px solid black;
}

.editorToolbarContainer {
    background-color: #222222;
    display: flex;
    padding: 5px 0 5px 0;
    /* position: absolute; */
    width: 100%;
    z-index: 1;
    align-items: center;
    height: 35px;
}

.toolbarComponent {
    color: white;
    margin: 0 5px;
    padding: 3px;
    user-select: none;
    border: 2px solid transparent;
    border-radius: 3px;
}

.toolbarComponent:hover {
    background-color: #3f3f3f;
    border: 2px solid #3f3f3f;
}

.toolbarComponent_dropdown {
    background-color: #282828;
    border: 2px solid #2d2d2d;
    border-radius: 3px;
    display: inline-block;
}

.displayNone {
    display: none;
}

.toolbarComponent_dropdown::after {
    content: '';
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: inline-block;
    padding: 3px;
    margin: 0 5px;
}

.inlineImg {
    width: 100%;
    height: 100%;
}

.editor {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nodeSelectionBox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.26);
    border: 2px dashed #fff;
    width: 1px;
    height: 1px;
}

.datablockSelectionMenu {
    border: transparent;
    border-radius: 4px;
    background-color: #222222;
    display: flex;
    width: 220px;
    height: 30px;
    overflow: hidden;
    color: white;
}

.datablockSelectionMenu span {
    background-color: #545454;
    display: flex;
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
    padding: 5px;
    box-sizing: border-box;
}

.datablockCreateBtn {
    background-color: #545454;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.datablockCreateBtn::after {
    content: '+';
}


.datablockCreateBtn:hover,
.datablockSelectionMenu span:hover {
    background-color: #3a5784;
}

.dropdownListEntrySelected {
    background-color: #3a5784;
}

.datablockSelectionMenu span+span {
    margin-left: 2px;
}

.datablockSelectionMenu input {
    width: 100%;
    background-color: #222222;
    border: #545454 solid;
    border-right: 0px;
    border-left: 0px;
    padding: 0px 5px;
    color: white;
}

.datablockSelectionMenu input:focus-visible {
    outline: 0;
}

.dropdownList {
    overflow-x: hidden;
    height: fit-content;
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: #2f2f2f #1111;
    z-index: 2;
}

.dropdownListExtended {
    height: 300px;
    justify-content: space-between;
    overflow-y: scroll;
}

.embeddedDropdownList {
    position: relative;
    box-sizing: border-box;
    margin: 5px 0px;
    height: 200px;
}

.dropdownListEntry {
    display: flex;
    flex-direction: row;
    height: 10px;
    padding: 7px 0 7px 0;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 2px;
}

.dropdownListEntry:hover {
    background-color: #3f3f3f;
}

.dropdownListSearchBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    border: 2px solid #3c3c3c;
    background-color: #181818;
    position: sticky;
    bottom: 0px;
    box-shadow: 0px 0px 10px 11px rgba(0, 0, 0, 0.47);
}

.dropdownListSearchBar span {
    background-color: transparent;
    display: flex;
    aspect-ratio: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    user-select: none;
    padding: 3px;
}

.dropdownListSearchBar input {
    width: 100%;
    background-color: #00000000;
    border-right: 0px;
    border-left: 0px;
    padding: 0px 5px;
    color: white;
    caret-color: #7cb9fd;
}

.dropdownListSearchBar input:focus-visible {
    outline: 0;
}

.editorSidebarContainer {
    position: absolute;
    right: 0px;
    height: 100%;
}

.editorSidebarMarker {
    width: 20px;
    height: 40px;
    top: 15%;
    position: absolute;
    display: flex;
    left: -20px;
    border-radius: 3px;
    background-color: #00000010;
    user-select: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.editorSidebarMarker:hover {
    background-color: #00000044;
}

.editorSidebar {
    width: 240px;
    height: 100%;
    background-color: #303030;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #303030 #1111;
}

.sidebarContent {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: white;
    background-color: #3d3d3d;
}

.settingContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 3px;
    padding: 0px 7px;
}

.dropdownBox {
    display: flex;
    flex-direction: row;
    height: 10px;
    padding: 7px 0 7px 0;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #3c3c3c;
    margin-bottom: 2px;
    background-color: #272727;
    position: relative;
}

.dropdownBox:hover {
    background-color: #3f3f3f;
}

.dropdownBoxListEntry {
    display: flex;
    height: 100%;
    align-items: center;
}

.dropdownBoxListEntry::after {
    content: '';
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: inline-block;
    padding: 3px;
    margin: 0 10px;
}

.listEntrySVG {
    margin-left: 5px;
    margin-right: -10px;
    height: 100%;
}

.nodeSocketContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.nodeSocketCollectionContainer::before {
    content: '';
    right: 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    outline: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.nodeSocketCollectionContainer .nodeSocket:not(:first-child)::before {
    top: 0px;
}

.nodeSocketCollectionContainer .nodeSocket:not(:last-child)::before {
    bottom: 0px;
}

.nodeEditorModal {
    border: 1px solid #1c1c1c;
    border-radius: 3px;
    background-color: #212121;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.settingsBox {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.nodeEditorModal .settingsBox {
    width: 100%;
    height: fit-content;
    margin: 10px 0px;
    border: 1px solid #3c3c3c;
    border-radius: 3px;
    background-color: #1a1a1a;
    padding: 2px;
    box-sizing: border-box;
}

.nodeEditorModal .settingContainer {
    justify-content: space-between;
}

.nodeEditorModal input {
    /* width: 150px; */
    background-color: #595959;
    border-radius: 3px;

    padding: 0px 5px;
    color: white;
    caret-color: #b9b9b9;
    margin-left: 30px;
}

.nodeEditorModal input:focus-visible {
    outline: 0;
}

.nodeEditorModal .confirmationBtn {
    background-color: #5680c2;
    width: 100%;
    height: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodeEditorModal .confirmationBtn:hover {
    background-color: #76a0e2;
}

.editorPopupMessage {
    position: absolute;
    top: -100%;
    right: 0px;
    color: white;
    background-color: #212121;
    z-index: -1;
    padding: 0px 5px 5px 5px;
    box-sizing: content-box;
    border: solid #19191a;
    border-radius: 5px 5px 2px 2px;
    border-width: 1px 1px 1px 1px;
    font-size: small;
    white-space: nowrap;
}

.editorErrorBox {
    aspect-ratio: 1;
    height: 80%;
    padding: 0px 5px;
    box-sizing: border-box;
    display: flex;

}

.worldSizeContainer {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 10px;
    width: 25px;
    background-image: linear-gradient(to bottom, #777777, #777777 10%, transparent 10%, transparent 90%, #777777 90%, #777777 100%), linear-gradient(to right, #777777, #777777 45%, black 45%, black 55%, #777777 55%, #777777 100%);
    border-radius: 6px;
    border: 1px #121212 solid;
    user-select: none;
    overflow: hidden;
}

.worldSizeDisplay {
    color: white;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.47), inset 0px 0px 20px 20px rgba(0, 0, 0, 0.47);
}

.worldSizeSlider {
    width: 80%;
    top: 50%;
    position: absolute;
    height: 15px;
    background: #c9c9c9;
    cursor: grab;
    border-radius: 5px;
    left: 10%;
    border: 1px solid #111;
    box-sizing: border-box;
}

#terr_editor {
    position: relative;

}
